
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.div{
    margin-top: 60px;
}
.sale1{
    width: 100%;
    height: 400px;
    border: 1px solid lightgray;
    object-fit: cover;
}
h1{
    font-size: 2rem;
    font-weight: 600;
    font-family: "popins",sans-serif;
    display: inline;
    color: rgb(229, 106, 106);
    margin: 20px;
}
p{
    font-size: 1em;
    padding: 2%;

}
.scroll {
    width: auto;
    overflow-x: scroll;
    display: flex;
  }
  
  .scroll::-webkit-scrollbar {
    height: 12px; /* height of the horizontal scrollbar */
  }
  
  .scroll::-webkit-scrollbar-track {
    background: #f9f5f5; /* color of the track */
    border-radius: 10px; /* roundness of the track */
  }
  
  .scroll::-webkit-scrollbar-thumb {
    background: #fffdfd; /* color of the scrollbar handle */
    border-radius: 10px; /* roundness of the scrollbar handle */
  }
  
  .scroll::-webkit-scrollbar-thumb:hover {
    background: #dffcff; /* color of the scrollbar handle on hover */
  }
  
 
